<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PDFToCmyk.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <PDFToCmyk.Properties.Settings>
            <setting name="Pdf2ps" serializeAs="String">
                <value>-level3 {IN} {OUT}</value>
            </setting>
            <setting name="Ps2pdf" serializeAs="String">
                <value>-dBATCH -dNOPAUSE -sDEVICE=pdfwrite -sOutputFile={OUT} -sProcessColorModel=DeviceCMYK -sColorConversionStrategy=CMYK {IN}</value>
            </setting>
            <setting name="Pdf2png" serializeAs="String">
                <value>-f 1 -l 1 -singlefile -png -r 300 {IN}</value>
            </setting>
        </PDFToCmyk.Properties.Settings>
    </userSettings>
</configuration>